@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background: #0A2647;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    color: #0A2647;
}
section {
    padding-top: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: 1.5s ease-out;
}
h1 {
    color: white;
    font-weight: 600;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buttons a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 8px 0;
}
button {
    width: 90%;
    height: 48px;
    border-radius: 24px;
    border: none;
    min-width: 320px;
    max-width: 640px;
    font-weight: 500;
    transition: .2s;
    color: #0A2647;
    font-family: "Segoe UI", sans-serif;
}
button:hover {
    background-color: #0A2647;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.social-media {
    padding: 8px;
    width: 96px;
    display: flex;
    justify-content: space-between;
}
.social-media img {
    width: 36px;
    filter: invert(100%);
}
.show {
    opacity: 100;
    transform: translateY(0);
}